<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>The Bike Depot</title>
    <script src="http://www.openlayers.org/api/OpenLayers.js"> </script>
 </head>

 <body>
 <iframe width=95% height='300' margin=2.5% frameBorder='0' src='http://a.tiles.mapbox.com/v3/caerusgeo.map-olt7vlbu.html#13/39.763818176740756/-104.9428653717041'></iframe>
 <br />
 <small>
 <a href="http://www.openstreetmap.org/?lat=38.99434&lon=- 
77.03244&zoom=14&layers=M">View Larger Map</a>
 </small>
 <div id="ourMap"></div>
 <div class="custom"  >
  <h2 style="text-align: center;">2825 Fairfax Street</br>
    Denver, CO 80207</br>
    (303) 393-1963</br>
  <span style="font-size: 18px; line-height: 1.3em; color: #1F75A7; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250);">
    <hr>
    Fix Your Bike Hours:</br>
    Tues & Wed: 4-7p</br>
    Sat: 11a-5p</br>
    Sun: Members Only 11a-5p (summer only)</br>
    Thurs: Members Only 4-7p (winter only)</br>

