<!DOCTYPE html>
<html lang="en">
  <head>
<link href="css/popup.css" rel="stylesheet">
</head>
 <div id="ourMap"></div>
 <script src="http://www.openlayers.org/api/OpenLayers.js"> </script>
 <script>
      map = new 
    OpenLayers.Map("ourMap");
      map.addLayer(new 
    OpenLayers.Layer.OSM());
      map.zoomToMaxExtent();
  </script>
 </head>

 <body>
 <iframe width=90% height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/caerusgeo.map-olt7vlbu.html#13/39.763818176740756/-104.9428653717041'></iframe>
 <br />
 <small>
 <a href="http://www.openstreetmap.org/?lat=38.99434&lon=- 
77.03244&zoom=14&layers=M">View Larger Map</a>
 </small>
 <div id="ourMap"></div>
 <div class="custom"  >
  <h2 style="text-align: center;">
     <span style="font-size: 18px; line-height: 1.3em; color: #1F75A7; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250);">2825 Fairfax Street</span>
    <span style="color:#ffffff;"><span style="font-size: 18px; line-height: 1.3em; font-family: Oswald, sans-serif; background-color: rgb(255, 255, 250); ">__</span></span></a></h2>
    <h2 style="text-align: center;">

 </body
</html>

address

contact info

https://www.facebook.com/TheBikeDepot


Hours:

Fix Your Bike Hours:
Tues & Wed: 4-7p
Sat: 11a-5p
Sun: Members Only 11a-5p (summer only)
Thurs: Members Only 4-7p (winter only)
