
<body>
<div id="top" class="header">
<h1>Edit Service Types</h1>
<form action='/service_types/<%= service_type.id %>/update' method='POST'>
  <input type="hidden" name="_method" value="put" />
  <textarea name='service_type[name]'><%= service_type.name %></textarea>
  <input type='submit' id='submit'>
</form>
</body>
