<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="/css/base.css" rel="stylesheet">
    <title>404 not found | theBikeDepot</title>
  </head>
  
  <body>
    <div class= "branding pad4x clearfix">
      <div class= "col6">
        <a class="logo" href="/">BikeDepot</a>
      </div>
    </div>
   <div class= "error-body center fill-denim dark">
    <div class= "error-text prose pad4">
      <h2 >404: Page Not Found<h2>
        <p>
          <img class="error" src="http://www.sandiegopersonalinjuryattorney.pro/images/sandiego-bicycle-accident-attorney-doored.gif" alt="funny gifs" width=50% />
        </p>
        <h3>Think this page should be here?
        <a href="/contact/"> Contact us</a>
        .</h3>
        <p>
            <small>
              Looking for 
              <a href="/services">services</a>
              ? 
            </small>
        </p>
        
      </div>
    </div>
  </body>

