<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>404 not found | theBikeDepot</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="//views/public/base.css" rel="stylesheet">
  </head>
  <body>
    <div class= "branding pad4x clearfix">
      <div class= "col6">
        <a class="logo" href="/">BikeDepot</a>
      </div>
    </div>
   <div class= "error-body center fill-denim dark">
    <div class= "error-text prose pad4">
      <h2>404: Page Not Found<h2>
        <h3>Think this page should be here?
        <a href="/contact/"> Contact us</a>
        .</h3>
        <p>
            <small>
              Looking for 
              <a href="http://thebikedepot.heroku.com/services">services</a>
              ? 
            </small>
        </p>
        <p>
          <img class="error-gif" src="http://www.sandiegopersonalinjuryattorney.pro/images/sandiego-bicycle-accident-attorney-doored.gif" alt="funny gifs" width=30% />
        </p>
      </div>
    </div>

