<div id="content-top">

<div id="djslider-loader130" class="djslider-loader">
<div id="djslider130" class="djslider">
<div id="slider-container130" class="slider-container">
<ul id="slider130">
<li>
<a  href="/index.php/about/contact" target="_self">
<img src="/imag/depot staff.jpg" alt="Bike Depot Staff" />
</a>
<!-- Slide description area: START -->
<div class="slide-desc">
<div class="slide-desc-in"> 
<div class="slide-desc-bg"></div>
<div class="slide-desc-text">
<div class="slide-title">
Bike Depot Staff                                  </div>

<div class="slide-text">
</div>

<div style="clear: both"></div>
</div>
</div>
</div>
<!-- Slide description area: END -->


</li>
<li>
<a  href="/index.php/programs" target="_self">
<img src="/images/Photos/fyb father and son smiling.jpg" alt="Bike Depot Community Programs" />
</a>
<!-- Slide description area: START -->
<div class="slide-desc">
<div class="slide-desc-in"> 
<div class="slide-desc-bg"></div>
<div class="slide-desc-text">
<div class="slide-title">
Bike Depot Community Programs                                 </div>

<div class="slide-text">
</div>

<div style="clear: both"></div>
</div>
</div>
</div>
<!-- Slide description area: END -->


</li>
<li>
<a  href="/index.php/support/organizing-a-bike-collection-drive" target="_self">
<img src="/images/mp900427870.jpg" alt="Organize a Bike Collection Drive" />
</a>
<!-- Slide description area: START -->
<div class="slide-desc">
<div class="slide-desc-in"> 
<div class="slide-desc-bg"></div>
<div class="slide-desc-text">
<div class="slide-title">
Organize a Bike Collection Drive                                  </div>

<div class="slide-text">
</div>

<div style="clear: both"></div>
</div>
</div>
</div>
<!-- Slide description area: END -->


</li>
</ul>
</div>
<div id="navigation130" class="navigation-container">
<img id="prev130" class="prev-button" src="http://www.thebikedepot.org//modules/mod_djimageslider/assets/prev.png" alt="Previous" />
<img id="next130" class="next-button" src="http://www.thebikedepot.org//modules/mod_djimageslider/assets/next.png" alt="Next" />
</div>
</div>
</div>

<div style="clear: both"></div>


</div>




<div id="system-message-container">
</div>
<div class="item-page">
<h1>
Home  </h1>









<p>
<span style="font-size: 18px; text-align: justify;">Welcome to the Bike Depot</span></p>
<div style="text-align: justify;">
<span style="font-size:14px;">The Bike Depot is a 501(c)(3) nonprofit community bike shop that supports Denver communities with a wide range of bicycling programs, services and products. We have a full service Bike Shop&nbsp;offering new and used bikes and accessories, an affordable&nbsp;<a href="/service_types">Service</a>&nbsp;menu and a&nbsp;<a href="/index.php/programs/fix-your-bike">Fix Your Bike</a>&nbsp;program where you can come to our shop and utilize our space and tools with the help of our Volunteer Mechanics. &nbsp;</span></div>
<div style="text-align: justify;">
&nbsp;</div>
<div style="text-align: justify;">
<span style="font-size:14px;">Donated Bicycles are recycled to low income local residents through our&nbsp;<a href="/index.php/programs/earn-a-bike">Earn A Bike</a>&nbsp;programs or refurbished and sold in our bicycle shop to support all of our community service programs.</span></div>
<div>
<span style="font-size: 16px; ">&nbsp; </span></div>
<div style="text-align: center; ">
&nbsp;</div>
<div style="text-align: center; ">
<span style="font-size: 18px; font-weight: bold;">Get Involved</span><span style="font-size: 16px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><strong style="font-size: 16px; "><span style="font-size: 18px;">Explore Our Bike Shop</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span style="font-size: 18px;">Support &nbsp;&nbsp;</span></strong></div>
<div style="text-align: center; ">
<a href="http://www.thebikedepot.org/index.php/programs"><img alt="" src="http://thebikedepot.org/images/Square/bike_depot_rodesquare.jpg" style="height: 210px; width: 210px; " /></a>&nbsp; &nbsp; &nbsp; &nbsp;<a href="http://www.thebikedepot.org/index.php/bike-shop"><img alt="" src="http://thebikedepot.org/images/Square/bike shopsquare.jpg" style="height: 210px; width: 210px; " /></a>&nbsp; &nbsp; &nbsp; &nbsp;<a href="http://www.thebikedepot.org/index.php/support"><img alt="" src="http://thebikedepot.org/images/Photos/support square.jpg" style="height: 210px; width: 210px; " /></a></div>
<div>
&nbsp;</div>
<div>
&nbsp;</div>
<div style="text-align: center; ">
  <strong><span style="font-size:22px;"><a href="http://www.thebikedepot.org/index.php/support/memberships">Benefits of Becoming a Bike Depot Member</a></span></strong></div>


</div>

</div>

<!-- Three Picture Places -->
<div id="Three Picture Places"> 
<div class="position 15">

</div>

<div class="position 16">

</div>

<div class="position 17">

</div>

<!-- Footer -->
<div id="footer">


</div>

<div id="push"></div>


