<!DOCTYPE html >
<html>
<head>
  <title>Fast | Beautiful | Bikes</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico"
  <link rel="stylesheet" href="/css/system.css" type="text/css">
  <link rel="stylesheet" href="/css/general.css" type="text/css">
  <link rel="stylesheet" href="/css/template.css" type="text/css">
  <link rel="stylesheet" href="/css/base.css" type="text/css">
  <link rel="stylesheet" href="/css/menu.css" type="text/css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>
  <script src="/js/tabslideout.js"></script>
  
  <script type="text/javascript">
  $(document).ready(function(){
    $(function(){
      $('.slide-out-div').tabSlideOut({
        tabHandle: '.handle',                     //class of the element that will become your tab
        pathToTabImage: 'img/go.gif', //path to the image for the tab //Optionally can be set using css
        imageHeight: '122px',                     //height of tab image           //Optionally can be set using css
        imageWidth: '40px',                       //width of tab image            //Optionally can be set using css
        tabLocation: 'left',                      //side of screen where tab lives, top, right, bottom, or left
        speed: 300,                               //speed of animation
        action: 'click',                          //options: 'click' or 'hover', action to trigger animation
        topPos: '200px',                          //position from the top/ use if tabLocation is left or right
        leftPos: '20px',                          //position from left/ use if tabLocation is bottom or top
        fixedPosition: false                      //options: true makes it stick(fixed position) on scroll
      });
    });
  });

  </script>

<style type="text/css">      
  .slide-out-div {
      padding: 20px;
      width: 250px;
      background: #ccc;
      border: 2px solid #FFF;
      border-radius: 35px;
  }      
</style>
 
</head>
<body>
  <% unless request.path == "/" %>
    <div id="wrapper">
      <div id="templatemo_wrapper_outer">
        <div id="header">
      <!-- Navbar -->
      <div id="topmenu">
      <ul class="menu">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
                  <a href="/">
                  <img src="http://www.thebikedepot.org/templates/bikedepottemplatefallseason/images/logo.gif"  alt="bikedepot" /></a>
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="/history">About Us</a></li>
                    <li><a href="/support">Support</a></li>
                    <li><a href="/bike-shop">Bike Shop</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Programs <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/programs">Earn A Bike</a></li>
                    <li><a href="/earn-a-bike">Classes</a></li>
                    <li><a href="">Bike Camp</a></li>
                    <li><a href="#">Bike Rodeo</a></li>
                  </ul>
                  </ul>
                </ul>
           </div>
          <br clear="all" />
  <% end %>
  
  <%= yield %>
  <% unless request.path == "/" %>
  <div class="clearboth"></div>
      </nav><!-- #access -->
        <div class="clearboth"></div>
      <div id="site-copyright">
        &#169; 2013 TheBikeDepot | All rights reserved | <a href="/privac">Terms and Conditions</a> | <a href="index.php?page_id=2687">Privacy Policy</a> | <a href="/mission" target="_blank">Mission, Vision and Values</a>
      </div>
      
      <div class="social-icons">
      <a class="sc-twitter" href="https://twitter.com/TheBikeDepot" target="_blank"><span>Twitter</span></a>
      <a class="sc-facebook" href="hhttps://www.facebook.com/TheBikeDepot" target="_blank"><span>Facebook</span></a>
      <a class="sc-video" href="http://vimeo.com/bikedepot" target="_blank"><span>Video</span></a>
      </div>
      <div class="clearboth"></div>
      </div>
      <div class="slide-out-div">
            <a class="handle" href="#">Content</a>
          <h3>Bike Depot Update</h3>
            <p>Sorry all!  Due to the blizzard we have hit the slopes to chew up some fresh pow-pow.  The store is closed! </p>
          <ul>
          <li><a href="http://freshymap.com/">Stay on top of the weather</a></li>
          </ul>
          <p>Thanks!</p>
      </div>
  </footer>
  <!-- #colophon -->
  <% end %>
  

  <!-- Custom JavaScript for the Side Menu - Put in a custom JS file if you want to clean this up -->
  <script>
      $("#menu-close").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
  </script>
  <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
  </script>

  </body>

</html>   
