<!DOCTYPE html >
<html>
<!DOCTYPE html >
<html>
<head>
  <title>Fast | Beautiful | Bikes</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico"
  <link rel="stylesheet" href="/css/system.css" type="text/css">
  <link rel="stylesheet" href="/css/general.css" type="text/css">
  <link rel="stylesheet" href="/css/template.css" type="text/css">
  <link rel="stylesheet" href="/css/base.css" type="text/css">
  <link rel="stylesheet" href="/css/menu.css" type="text/css">
<body>
 <%= yield %>
</body>
</html>   
