<h1>Service Types</h1>

<% if false %>

    <ul>
      <% service_types.each do |service_type| %>
        <li>
        <%= service_type.name %><br/>
        <form action='/service_types/#{service_type.id}/edit' method='GET'>
          <button type='submit' name='edit service types'>Edit Service Type Menu</button>
          </form>
        </li> 
      <% end %>
     </ul>

  <% else %>

    <ul>
      <% service_types.each do |service_type| %>
        <li>
        <%= service_type.name %><br/>
        </li>
      <% end %>
    </ul>

  <% end %>

