<!DOCTYPE html >
<html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" lang="en-gb" >
<head>
  <meta charset='UTF-8'/>
  <meta name='bike' content='index'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <title>BikeDepot | Fast and beautiful bikes</title>

  <link href='//www.mapbox.com/base/latest/base.css' rel='stylesheet' />
  <link href='/css/site.css' rel='stylesheet' />
  <link rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='/blog/blog.rss' />
  <script src='/js/site.js'></script>

  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->
  
</head>
<body class='welcome full'>
<div class='branding pad4x clearfix'>
  <div class='col3'>
    <a id='mapbox-logo' class='logo' href='/' onclick='window.location=(window.mapboxHome||"/"); return false;'>theBikeDepot</a>
  </div>
  <ul class='menu col6'>
    <li class=''>
      <a id='nav-tour' href='/tour/'>Tour</a>
    </li>
  
    <li class='showcase'>
      <a id='nav-showcase' href='/showcase/'>Showcase</a>
    </li>
    
    <li class=''>
      <a id='nav-blog' href='/blog/'>Blog</a>
    </li>
    
    <li class='plans'>
      <a id='nav-plans' href='/plans/'>Plans</a>
    </li>
    
  </ul>
</div>

<link rel='stylesheet' href='/css/section/home.css' />

<div id='video' class='video-container'>
  <div class='force-aspect-ratio'>
    <img class='loader' src='../../img/loader-black.gif' />
    <iframe id='player' src="https://player.vimeo.com/video/63403523?api=1&player_id=player&color=1087bf" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>  <a href='#' class='close-button button dot big icon close'></a>
  </div>
</div>

<div class='hero clearfix'>
  <div class='col5 margin7 overlay'>
    <div class='pad4 fill-white prose'>
      <h1>Design custom maps</h1>
      <p>Easily add fast beautiful maps to your sites and apps.</p>
      <p class='quiet'>We help people spot local bars on foursquare, choose hotels on Hipmunk, and organize their lives with Evernote. Maps are the context and canvas for everything mobile and social, and we are the platform for making them tailored to fit your product.</p>
    </div>
    <div class='actions col12 fill-light pad4'>
      <a id='button-start' href='https://tiles.mapbox.com/newmap' class='button rcon next'>Start Now</span></a>
      <a id='button-video' href='#video' class='button loud video'>Video<span class='wavey-dude'><span class='arm'></span></span></a>
    </div>
  </div>
  <div class='background'></div>
</div>

<div class='fill-white pad4y'>
<small class="pad4x center caption">MapBox powers innovative tools by leaders in design, technology &amp; data visualization.<a href="/showcase"> View our showcase to see what's possible.</a></small>
  <ul class='logo-row clearfix'>
    
      <li class='client-logo col2 logo-1 margin1' alt='foursquare'><a href="/showcase/#foursquare"></a></li>
    
      <li class='client-logo col2 logo-2 ' alt='usatoday'><a href="/showcase/#usatoday"></a></li>
    
      <li class='client-logo col2 logo-3 ' alt='evernote'><a href="/showcase/#evernote"></a></li>
    
      <li class='client-logo col2 logo-4 ' alt='hipmunk'><a href="/showcase/#hipmunk"></a></li>
    
      <li class='client-logo col2 logo-5 ' alt='npr'><a href="/showcase/#npr"></a></li>
    
  </ul>
</div>

<div class="fill-navy dark press clearfix pad4y">
  <small class="pad4x center caption">We've been making headlines lately at MapBox.<a href="/about/press"> View our press page to see more.</a></small>
    <div class='margin1 col5 pad4x'>
      
      <p class='pad2 quote'>&#8220;MapBox relies extensively on an open strategy throughout its business.&#8221;</p>
      <div class='press-logo center'><a target="blank" class="logo-1" href="http://www.economist.com/blogs/babbage/2013/04/map-data">Economist</a></div>
      
      <p class='pad2 quote'>&#8220;MapBox aims for open source, digital map revolution.&#8221;</p>
      <div class='press-logo center'><a target="blank" class="logo-2" href="http://idealab.talkingpointsmemo.com/2012/09/mapbox-aims-for-open-source-digital-map-revolution.php">Talking Points Memo</a></div>
      
      <p class='pad2 quote'>&#8220;Google isn’t the only company working on mapping out the entire world with satellite imagery.&#8221;</p>
      <div class='press-logo center'><a target="blank" class="logo-3" href="http://techcrunch.com/2013/04/24/satellite-imagery-company-skybox-teams-with-mapbox-for-analysis-and-annotation-of-data/">TechCrunch</a></div>
      
    </div>
    <div class='col5 pad4x'>
      
      <p class='pad2 quote'>&#8220;A satellite map capable of erasing all the world's clouds.&#8221;</p>
      <div class='press-logo center'><a target="blank" class="logo-4" href="http://www.theatlanticcities.com/technology/2013/04/satellite-map-capable-erasing-all-worlds-clouds/5176/">The Atlantic</a></div>
      
      <p class='pad2 quote'>&#8220;Watch Out, Google: Here Comes OpenStreetMap&#8221;</p>
      <div class='press-logo center'><a target="blank" class="logo-5" href="http://mashable.com/2013/05/07/openstreetmap/">Mashable</a></div>
      
      <p class='pad2 quote'>&#8220;This Is What The World Looks Like To An Astronaut On A Cloudless Day&#8221;</p>
      <div class='press-logo center'><a target="blank" class="logo-6" href="http://www.fastcoexist.com/1682046/this-is-what-the-world-looks-like-to-an-astronaut-on-a-cloudless-day">Fast Company</a></div>
      
    </div>
</div>

<div class="img-grid clearfix">

    

      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
              
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      

      <a class="col4" href="/blog/financial-times-goes-mapbox" alt="Financial Times Goes MapBox: Design Matters">
        <span class="img-fill" style="background-image:url(https://farm8.staticflickr.com/7427/9418662190_6a2bd809db_b.jpg)"></span>
        <span class="img-mask"></span>
        <span class="label pad1 col6 fill-blue fadeout dark">
          <small class="date">August 02, 2013</small>
          <strong>Financial Times Goes MapBox: Design Matters</strong>
        </span>
      </a>

    

      
          
      
          
      
          
      
          
      
          
      
          
      
          
              
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      

      <a class="col4" href="/blog/super-sharp-pleiades-imagery-on-mapbox" alt="Super Sharp 50cm Pl&#233;iades Satellite Imagery on MapBox.com">
        <span class="img-fill" style="background-image:url(https://farm4.staticflickr.com/3724/9417257420_a673f54914_o.jpg)"></span>
        <span class="img-mask"></span>
        <span class="label pad1 col6 fill-blue fadeout dark">
          <small class="date">August 01, 2013</small>
          <strong>Super Sharp 50cm Pl&#233;iades Satellite Imagery on MapBox.com</strong>
        </span>
      </a>

    

      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
              
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      
          
      

      <a class="col4" href="/blog/mapboxjs-v110-leaflet-061" alt="Announcing MapBox.js v1.1.0 & Leaflet 0.6.1">
        <span class="img-fill" style="background-image:url(https://farm8.staticflickr.com/7288/9150456167_d4aae3345e_k.jpg)"></span>
        <span class="img-mask"></span>
        <span class="label pad1 col6 fill-blue fadeout dark">
          <small class="date">June 27, 2013</small>
          <strong>Announcing MapBox.js v1.1.0 & Leaflet 0.6.1</strong>
        </span>
      </a>

    

</div>

<script src='/js/froogaloop2.min.js'></script>

<script>

// Load video player with Vimeo's Froogaloop.
// Add an event to close when video ends.
var iframe = $('#player')[0],
  player = $f(iframe),
  $videoParts = $('.video-container, #video');

$(function() {

    analytics.trackLink($('#button-start'), 'Clicked Start Link');
    analytics.trackLink($('#button-video'), 'Clicked Video Link');

    player.addEvent('ready', function() {
        player.addEvent('finish', onFinish);
    });

    function onFinish(id) {
        $videoParts.removeClass('visible');
    };

    function togglevideo() {
        if (window.location.hash === '#video') {
            $videoParts.addClass('visible');
            player.api('play');
            window.scrollTo(0, 0);
        } else {
            $videoParts.removeClass('visible');
            player.api('pause');
        }
    };

   $('.close-button, .video-container').click(function(ev) {
        window.location.hash = '#';
        togglevideo();
        return false;
    });

   $('a.video').click(function(ev) {
        window.location.hash = '#video';
        togglevideo();
        return false;
    });

  togglevideo();

});

</script>





<div class='footer fill-light clearfix small'>
  <div class='col3 pad4 newsletter'>
    <a class='button icon twitter' href='http://twitter.com/mapbox' target='_blank'>Follow us</a>
    <a class='button icon contact' href='/contact'>Contact us</a>

    <small>Subscribe to our newsletter</small>
    <!-- Begin MailChimp Signup Form -->
    <div id='mc-signup'>
      <form action='http://mapbox.us2.list-manage1.com/subscribe/post?u=1b29ad842d113cece02035883&amp;id=6cbe531fd0' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank'>
        <div class='mc-field-group clearfix'>
          <input type='hidden' value='1' name='group[7417][2]'>
          <div class='field-wrapper'><input type='text' value='' placeholder='Email Address' name='EMAIL' class='required email' id='mce-EMAIL'></div>
          <input type='submit' value='' name='subscribe' id='mc-embedded-subscribe' class='button icon mail'>
        </div>
        <div id='mce-responses'>
          <div class='response' id='mce-error-response' style='display:none'></div>
          <div class='response' id='mce-success-response' style='display:none'></div>
        </div>
      </form>
    </div>
  </div>

  <div class='col2 pad4'>
    <h3 class='title'>MapBox</h3>
    <p class='links'>
      
      <a id='footer-tour' href='/tour/'>Tour</a>
      
      <a id='footer-showcase' href='/showcase/'>Showcase</a>
      
      <a id='footer-about' href='/about/'>About</a>
      
      <a id='footer-plans' href='/plans/'>Plans</a>
      
      <a id='footer-premium' href='/plans/premium/'>Premium</a>
      
      <a id='footer-jobs' href='/jobs/'>Jobs</a>
      
      <a id='footer-status' href='http://mapbox.com/status/'>Status</a>
      
    </p>
  </div>
  <div class='col2 pad4'>
    <h3 class='title'>Resources</h3>
    <p class='links'>
      
      <a id='footer-help' href='/help/'>Help</a>
      
      <a id='footer-developers' href='/developers/'>Developers</a>
      
    </p>
    <h3 class='title'>Tools</h3>
    <p class='links'>
      
      <a id='footer-tilemill' href='/tilemill/'>TileMill</a>
      
      <a id='footer-maki' href='/maki/'>Maki</a>
      
    </p>
  </div>
  <div class='col5 pad4 blogposts'>
    <h3 class='title'>Recent blog posts</h3>
    <p class='links'>
      <script src='//www.mapbox.com/snippets/blog-list.js'></script>
    </p>
    <a id='read-more' href='/blog/' class='rcon next'>Read more</a>
  </div>
</div>

<div class='footer-copyright dark fill-denim center pad2 small'>
  <a href='/tos'>Terms of service</a> +
  <a href='/privacy'>Privacy policy</a>
  &copy; MapBox
</div>


<script src='https://tiles.mapbox.com/snippets/user.js'></script>

<script type='text/javascript'>
var _gaq = _gaq || [];
var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
_gaq.push(['_setAccount', 'UA-12158002-1']);
_gaq.push(['_setDomainName', '.mapbox.com']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

var _gauges = _gauges || [];
(function() {
  var t   = document.createElement('script');
  t.type  = 'text/javascript';
  t.async = true;
  t.id    = 'gauges-tracker';
  t.setAttribute('data-site-id', '4e970faef5a1f51def000002');
  t.src = '//secure.gaug.es/track.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(t, s);
})();
</script>

</body>
</html>
